.to-cart {
  float: right;
}

.product-container {
  position: absolute;
  box-shadow: 0 2px 4px rgba(41, 63, 84, 0.24), 0 2px 6px rgba(41, 63, 84, 0.12);
  z-index: 5001;
  background-color: white;
  text-align: center;
  @include media($large-screen) {
    left: 40%;
  }
  
}

.product-overlay {
  z-index: 5000;
  background-color:black;
  opacity:.5;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter:alpha(opacity=50);
  height: 100%;
  width: 100%;
  margin-top: -1.875em;
}


.product-info {
 @include outer-container;
 max-width: 25em;
 border-bottom: $base-border;
 .product-name {
   text-align: left;
 }
 .product-price {
   text-align: center;
   font-weight: 700;
   margin-top: 2em;
 }
 .product-count {
   margin-top: 1.6em;
 }
 padding: 1em;
  img {
    display: block;
  }
}

#product-cart>div>div>button {
  margin-top: 1em;
  margin-bottom: 1em;
}

#cart {
  text-align: left;
  box-shadow: 0 2px 4px rgba(41, 63, 84, 0.24), 0 2px 6px rgba(41, 63, 84, 0.12);

  .cart-items {
    z-index: 50001;
    background-color: white;
    img {
      display: none;
    }
    @include media($large-screen) {
      width: 30%;
      left: 35%;
      img {
        display: block;
      }
    }
    width: 100%;
    left:0;

    padding: 2em;
    position: absolute;
    box-shadow: 0 2px 4px rgba(41, 63, 84, 0.24), 0 2px 6px rgba(41, 63, 84, 0.12);
  }
  .cart-header {
    font-weight: bold;
    
    font-size: .75rem;
    @include media($large-screen) {
      font-size: 1rem;
    }
    height: 30px;
    border-bottom: $base-border;
  }
  .cart-product {
    height: 100px;
    padding: 20px 0;
    border-bottom: $base-border;
    button {
      padding: 0;
      margin: 0;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
  .cart-button {
    width: 30px;
    height: 30px;
    background-image: url('../images/paper-bag.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
