footer {
	border-top: 1px solid $base-border-color;
	margin: 2em 0;
	padding-top: 2em;
	.outer-container {
		padding: em(60) 0;
	}
}

.copiright {
	
	background-color: rgba(228,229,233,0.96);
	padding: em(30) em(12);
	text-align: center;
	strong {
		display: block;
	   text-transform: uppercase;
	}
	
}

