#main {
	@include outer-container;
}

ol {
	font-size: 1em;
	font-weight: 500;

	li {
		margin: .5em 0;

		

		span {
			display: inline-block;
			&:before {
				content: '/';
				margin: 0 .3em;
			}
		}
	}
}
.post-link {
	font-size: 2em;
}

.articles {
	li.article {
		border-top: 1px solid $base-border-color;
		padding-bottom: em(30);
		padding-top: em(30);
	}
}



.large-column {
	  @include span-columns(8 of 12);

}

.small-column {
	  @include span-columns(4 of 12);

}
