nav {	
	&.post-nav {
		margin: em(30) 0;
		border-bottom: 1px solid $base-border-color;
		height: em(50);
		margin-top: em(8);
		.post_nav_logo {
			.blog-image {
				background-image: url('../images/helga.jpg');
				border-radius: 50%;
				background-position: center;
				background-size: 100%;
			}
		}



		@include media($large-screen) {
			.post_navigation {
					float: right;		    			
					margin-right: em(33);
			}
			.post_nav_logo {
				float: left;
				.blog-image {
					height: em(80);
					width: em(80);
					margin-left: em(23);
					margin-top: em(10);
				}
			}
		}	
	}
	margin: em(30) 0;
	margin-bottom: 0;
	padding-bottom: em(30);
	text-align: center;
	

	ul {
		text-align:center;
		display: inline-block;
		margin-bottom: em(10);
	}

	li {
		display: block;
		float: left;
		padding: em(10);
		a {
			color: $base-font-color;
			letter-spacing: 2px;
		}
	}

	.blog-title {
		.blog-image {
			background-image: url('../images/helga.jpg');
			height: 150px;
			width: 150px;
			margin: 0 auto;
			border-radius: 50%;
			margin-bottom: em(10);
	    background-position: center;
	    background-size: 100%;
		}
		font-size: 1.4em;
		font-weight: 700;
		letter-spacing: 4px;
		text-transform: uppercase;
		span {
			color: $base-font-color;
		}
	}
}


