<footer>
	<div>
	  <ul class="large-column">
	    <li><h5 class="heading">Последнии статьи</h5></li>
	    <li>
	      <ol>
	        <% blog.articles[0...10].each do |article| %>
		          <li>
	            <%= link_to article.title, article %>
	            <span><%= I18n.localize(article.date, format: "%B %d, %Y") %></span>
	          </li>
	        <% end %>
	      </ol>
	    </li>
	  </ul>

		  <ul class="small-column">
		    <li><h5 class="heading">Тэги</h5></li>
		    <li>
		      <ol>
		        <% blog.tags.each do |tag, articles| %>
			          <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
		        <% end %>
		      </ol>
		    </li>
			</ul>
		</div>
	
</footer>
