<ul >
		<li ><%= link_to "Главная", "/" %></li>
		<li><%= link_to "Контакты", "/contacts.html" %></li>
    <li><%= link_to "Рецепты", "/categories.html" %> </li>
    <li><%= link_to "Обо мне", "/about.html" %></li>
    <li> <div id="cart"> </div></li>
</ul>

