<nav>
	<ul >
		<li ><%= link_to "Главная", "/" %></li>
		<li><%= link_to "Контакты", "contacts.html" %></li>
		<li><%= link_to "Рецепты", "categories.html" %> </li>
	</ul>
	<br />
	<div class="blog-title">
		<div class="blog-image">
		</div>
		<span> Лучшие вкусняшки от </span>
		<br />
		<%= link_to "Helga Candy Shop",  "/index.html"%>
	</div>
	

</nav>
