<nav class="post-nav">
	<div class="post_nav_logo">
		<% link_to "/index.html" do %>
			<div class="blog-image"></div>
		<% end %>
	</div>

	<div class="post_navigation">
		<ul >
			<li><%= link_to "Главная", "/" %></li>
			<li><%= link_to "Контакты", "/contacts.html" %></li>
			<li><%= link_to "Рецепты", "/categories.html" %> </li>
		</ul>
	</div>
	

</nav>
