<nav class="post-nav">
	<div class="post_nav_logo">
		<% link_to "/index.html" do %>
			<div class="blog-image"></div>
		<% end %>
	</div>

  <div class="post_navigation">
    <%= partial 'partials/nav_links' %>
	</div>
	

</nav>
