<h1> Рецепты </h1>
<div class="categories">
  <ul>
    <li><%= link_to "Торты", category_path(:cakes) %></li>
    <li><%= link_to "Капкейки", category_path(:cupcakes) %></li>
    <li><%= link_to "Mеренги", category_path(:meringues) %></li>
    <li><%= link_to "Макаруны", category_path(:macaroons) %></li>
  </ul>
</div>
